<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">
            User Allocations
        </h2>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Manage Tasks {{allocationProject.name}}</h2>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group label-floating">
                        <label>Find Project</label>
                        <input placeholder="Enter Project Name" class="form-control" type="text" value="" ng-model="newMessage" />
                        <!--s<button class="btn btn-primary">Send</button>-->
                    </div>
                </form>
                <div ng-repeat="project in allocationProjects" ng-click="assignProject(project);">
                    <h3>{{project.name}}</h3>
                    <p>{{project.status}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 " ng-if="allocationProject && !manageProductSkills">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Accept Users {{allocationProject.name}}</h2>
            </div>
            <div class="panel-body">
                <div ng-repeat="user in eligibleUsers">
                    <span class="lead">{{user.name}}</span>
                    <button ng-click="addUserToProject(allocationProject.id,user.identityUserId)"
                            class="btn-primary btn">
                        Select User
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" ng-if="allocationProject">
        <form class="form-inline">
            <div class="form-group label-floating">
                <label for="newTask" class="control-label">Enter Taskname</label>
                <input id="newTask" class="form-control" type="text" value="" ng-model="newTask" />
                <button class="btn btn-primary btn-raised"
                        ng-click="addTaskToProject(allocationProject.id,newTask)">
                    Create New
                </button>
            </div>
        </form>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Manage Task Skills {{allocationProject.name}}</h2>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary" ng-repeat="task in allocationProject.tasks">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}">
                                    {{task.name}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{$index}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p ng-repeat="skill in task.skills">{{skill.name}}</p>
                                <!--<span>{{skill.name}}</span>-->
                                <button ng-repeat="skill in skills" ng-click="addTaskSkill(allocationProject.id,task.id, skill.id)"
                                        class="btn-default btn btn-raised">
                                    <i class="fa fa-plus" aria-hidden="true"></i> {{skill.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!--Skills Required
    <div class="checkbox" ng-repeat="skill in skills">
        <label><input type="checkbox" value="">{{skill.name}}</label>
    </div>-->


</div>

