<div class="row">
    
    <div class="col-lg-12">
        <h1 class="page-header">
            All Projects..
        </h1>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <div ng-repeat="project in projects" ng-click="assignProject(project);">
            <p>{{project.name}}</p>
            <p>{{project.status}}</p>
        </div>
    </div>
    <div class="col-md-8">
        <h2>{{allocationProject.name}}</h2>
        <div ng-repeat="user in allocationProject.eligibleUsers">
            <span>{{user.name}}</span>
            <span>{{user.Text}}</span>
            <button ng-click="addUser()" class="btn-primary btn">Select User</button>
        </div>
        <!--<form class="form-inline">
            <div class="form-group">
                <label></label>
                <input class="form-control" type="text" value="" ng-model="newMessage" />
                <button class="btn btn-primary">Send</button>
            </div>
        </form>-->
    </div>

</div>
