<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{project.Name}} Project
        </h1>
    </div>
    <div class="col-md-4">
        <h2>Manage your project tasks</h2>
        <div ng-repeat="task in project.tasks" ng-click="manageSkills(task.Id)">
            <p>{{task.Name}}</p>
        </div>
    </div>
    <div class="col-md-8">
        <div>
            <h2>Add Task</h2>
            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="text" value="" ng-model="newTask" />
                    <button class="btn btn-primary" ng-click="addTaskToProject(project.Id, newTask)">Send</button>
                </div>
            </form>
        </div>

        <div>
            <h2>Skills</h2>
            <button class="btn btn-primary" ng-click="addingSkillToProject=true">Send</button>
            <div ng-repeat="skill in selectedTask.skills">
                <p>{{skill.Name}}</p>
            </div>
        </div>
        
        <p ng-repeat="skill in userSkills">
            {{skill.Name}}
            <button ng-click="addUserSkill(userSkills.user.id,skill.Id)"></button>
        </p>

    </div>
</div>
