<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            User Skills : {{userSkills.user.Name}}
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    All User Skills :
    <p ng-repeat="skill in userSkills.user.skills">{{skill.Name}}</p>
    <form class="form-inline">
        <div class="form-group">
            <label for="email">Create Skill</label>
            <input ng-model="newSkill.skillName" type="text" class="form-control">
        </div>
        <button ng-click="createSkill();" type="button" class="btn btn-default">Add Skill</button>
    </form>
    Add User Skills :
    <p ng-repeat="skill in userSkills">
        {{skill.Name}}
        <button ng-click="addUserSkill(userSkills.user.id,skill.Id)"></button>
    </p>
</div>
