<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            The Agile Team Management Project
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8 text-center">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p>
            <a class="btn btn-info" href="#/login" role="button">Login &raquo;</a>
        </p>
    </div>
    <div class="col-md-2">&nbsp;</div>
    <!--<div class="col-md-6">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>-->
</div>
