<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Allocate Projects
        </h1>
    </div>
    <!-- /.col-lg-12 -->

    <table class="table">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Status</th>
                <th>Manager</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects">
                <td>{{project.name}}</td>
                <td>{{project.status}}</td>
                <td>{{project.status}}</td>
                <td> <button ng-click="allocate(project.Id)" class="btn btn-default"> Allocate Project</button></td>
            </tr>
        </tbody>
    </table>

</div>
